<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>流動線結帳</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/FastCheckOutV2.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body>
    <div class="header">
        <button onclick="location.href='/'">回到首頁</button>
        <h1>流動線結帳</h1>
        <button onclick="location.href='/item'">訂單查詢</button>
    </div>
    <div class="content">
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">
                    <div class="flex-container">
                        <div class="flex-item-left">
                            <span id="ContentPurchaseList">購買明細</span>
                            <button id="checkout" class="btn btn-success">結帳</button>
                        </div>
                        <div class="flex-item-right">
                            <h1><span id="amount">0</span> 元</h1>
                        </div>
                    </div>
                    <div class="table-container">
                        <table id="item-table" class="table table-bordered table-hover">
                            <thead class="thead-dark">
                                <tr>
                                    <th>商品編號</th>
                                    <th>商品名稱</th>
                                    <th>數量</th>
                                    <th>價格</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='JavaScript/FastCheckOutV2.js') }}"></script>
</body>
</html>
