<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>定點結帳</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/FastCheckOutV1.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
</head>
<body>
    <div class="header">
        <button onclick="location.href='/'">回到首頁</button>
        <h1>定點結帳</h1>
        <button onclick="location.href='/item'">訂單查詢</button>
    </div>
    <div class="content">
        <div class="container mt-5">
            <div class="row">
                <!--影像辨識區-->
                <div class="col-md-4">
                    <div class="button-container">
                        <button id="snap" class="btn btn-primary mt-2">商品辨識</button>
                    </div>
                    <br/>
                    <div class="video-container">
                        <video id="video" width="320" height="240"></video>
                    </div>
                    <canvas id="canvas" hidden width="640" height="480"></canvas>
                    <img id="detect_image" class="img-fluid mt-2 scaled-image">
                </div>
                <div class="col-md-1 d-flex align-items-center justify-content-center">
                    <hr class="vertical-line" />
                </div>
                <!--結帳區-->
                <div class="col-md-7">
                    <div class="flex-container mb-3">
                        <div class="flex-item-left">
                            <span id="ContentPurchaseList">購買明細</span>
                            <button id="checkout" class="btn btn-success">結帳</button>
                        </div>
                        <div class="flex-item-right">
                            <h1><span id="amount">0</span> 元</h1>
                        </div>
                    </div>
                    <!--表格-->
                    <div class="table-container">
                        <table id="item-table" class="table table-bordered table-hover">
                           
                             <thead class="thead-dark">    <tr>
                                    <th>商品編號</th>
                                    <th>商品名稱</th>
                                    <th>數量</th>
                                    <th>價格</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Items will be dynamically added here -->
                            </tbody>
                        </table>
                    </div>
                    <!--訂單狀態訊息-->
                    <div id="order-status" class="alert alert-success" role="alert" style="display: none;">
                        訂單已成功存檔！
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='JavaScript/FastCheckOutV1.js') }}"></script>
</body>
</html>
