<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>秒結系統</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/MainPage.css') }}">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.js"></script>
</head>
<body>
    <div class="header">
        <h1>秒結系統</h1>
    </div>
    <div class="content">
        <div class="button-container">
            <button onclick="location.href='/video'">定點結帳</button>
            <button onclick="location.href='/video2'">流動線結帳</button>
            <button onclick="location.href='/item'">訂單明細查詢</button>
        </div>
    </div>

    <div id='log'></div>

    <script src="{{ url_for('static', filename='JavaScript/MainPage.js') }}"></script>
</body>
</html>
